*.byte
*.opt
*.cmx
*.cmo
*.annot
*.o
*.cma
*.cmxa
*.cmi
*.cmt
*.pwd
.depend
Makefile
src/LurchVersion.ml
_opam
*.swp
config.log
config.status
autom4te.cache
lurch
www/lurch
www/spa.js
opam
src/all_tests.ml
.vim_session
oUnit-anon.cache
qtest.targets.log
docker/www
www/favicon.png
docker/busybox
