/* Happy-happy colors */
:root {
  --bg-color: #eee;
  --fg-color: #111;
  --link-color: #558;
  --button-bg-color: #111;
  --button-fg-color: #fff;
  --spinner-bg-color: var(--bg-color);
  --spinner-fg-color: #888;
  --thead-bg-color: #888;
  --thead-fb-color: #000;
  --tr-bg-color-odd: var(--bg-color);
  --tr-bg-color-even: #e8e8e8;
  --success-color: green;
  --failure-color: red;
  --killed-color: orange;
}

/* Whole */
body {
  /* Color */
  background-color: var(--bg-color);
  color: var(--fg-color);
}
.click {
  /* Misc. */
  cursor: pointer;
}
span.click {
  /* Color */
  color: var(--link-color);
  text-decoration: underline dashed var(--link-color);
  font-weight: bold;
}

/* Header */

p.header {
  /* Layout */
  font-size: 75%;
  margin-top: 0;
  margin-bottom: 0.3em;
  padding-top: 0;
}
p.header .title {
  /* Color */
  color: #400;
  font-weight: bold;
}
p.header a {
  color: var(--fg-color);
}

/* Menu */

ul.menu {
  /* Layout */
  text-align: center;
  margin-top: 0.3em;
}
ul.menu > li {
  /* Layout */
  display: inline-block;
  padding: 0.5em 1em 0.5em 1em;
  margin-right: 1em;
  /* Color */
  background-color: var(--button-bg-color);
  color: var(--button-fg-color);
  /* Font */
  font-weight: bold;
  /* Misc. */
  cursor: pointer;
}

/* Spinner */

p.spinner {
  /* Layout */
  position: fixed;
  top: 0em;
  right: 0em;
  margin-right: 1em;
  /* COlor */
  background-color: var(--spinner-bg-color);
  color: var(--spinner-fg-color);
  /* Misc. */
  cursor: pointer;
}

/* Tables */

table {
  /* Layout */
  width: 100%;
}
table.logs {
  border-collapse: collapse;
}
tr:nth-child(odd) {
  /* Colors */
  background-color: var(--tr-bg-color-odd);
}
tr:nth-child(even) {
  /* Colors */
  background-color: var(--tr-bg-color-even);
}
thead > tr td {
  /* Layout */
  text-align: left;
  font-weight: bold;
  /* Colors */
  background-color: var(--thead-bg-color);
  color: var(--thead-fg-color);
}
tfoot > tr {
  /* Layout */
  text-align: left; /* Those tables can be very wide */
}
td.time {
  /* Layout */
  white-space: nowrap;
  text-overflow: ellipsis;
}
td.logline {
  /* Layout */
  white-space: pre;
  /* Same colors as the linux terminal */
  background-color: black;
  color: white;
  font-family: Inconsolata, monospace;
}
/* ANSI graphic modes for logs */
.ansi-bold { font-weight: bold; }
.ansi-faint { font-weight: lighter; }
.ansi-italic { font-style: italic; }
.ansi-underline { text-decoration: underline; }
.ansi-blink { text-decoration: blink; }
.ansi-reverse { filter: invert(100%); }
.ansi-strike { text-decoration:line-through; }
.ansi-fg-color-0 { color: #000; }
.ansi-fg-color-1 { color: #A00; }
.ansi-fg-color-2 { color: #0A0; }
.ansi-fg-color-3 { color: #A50; }
.ansi-fg-color-4 { color: #00A; }
.ansi-fg-color-5 { color: #A0A; }
.ansi-fg-color-6 { color: #0AA; }
.ansi-fg-color-7 { color: #AAA; }
.ansi-bg-color-0 { background-color: #000; }
.ansi-bg-color-1 { background-color: #A00; }
.ansi-bg-color-2 { background-color: #0A0; }
.ansi-bg-color-3 { background-color: #A50; }
.ansi-bg-color-4 { background-color: #00A; }
.ansi-bg-color-5 { background-color: #A0A; }
.ansi-bg-color-6 { background-color: #0AA; }
.ansi-bg-color-7 { background-color: #AAA; }

/* Run */

.success {
  /* Color */
  color: var(--success-color);
}
.failure {
  /* Color */
  background-color: var(--failure-color);
}
.killed {
  /* Color */
  background-color: var(--killed-color);
}
